{{ form_start(form) }}
<div class="row">
	<div class="col-lg-12">
		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">catégorie</span>
			{{ form_widget(form.appMail_categories_name) }}
		</div>
	</div>
</div>
{# {{ form_widget(form) }} #}
				<div class="row ">
					<div class="col-4 d-flex justify-content-around">

<button type="button" class="btnRed "><i class="bi bi-save2 "></i> Enregistrer</a></button>
</div>
{{ form_end(form) }}
