{% extends 'baseAdmin.html.twig' %}

{% block title %}Editer Catégories
{% endblock %}

{% block body %}
	<div class="col-lg-8 mx-auto mt-4">
		<div class="card rounded-4 mt-4">
			<div class="card-header rounded-top-4">
				<h3>CATEGORIE</h3>
			</div>
			<div class="card-body rounded-bottom-4">

				{{ include('app_mail_categories/_form.html.twig') }}

				<div class="col-4 d-flex justify-content-around">
					<a href="{{ path('app_mail_categories_index') }}">
						<button type="button" class="btnBlue ">

							<i class="bi bi-arrow-return-left"></i>
							Retour à la liste
						</button>
					</a>
				</div>
				<div class="col-4 d-flex justify-content-around">
					{{ include('app_mail_categories/_delete_form.html.twig') }}
				</div>

			</div>

		</div>
	</div>
</div>{% endblock %}
